<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail Book</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Detail Book</h1>
    <p>
        <a href="/books" class="btn btn-primary">Back to Book List</a>
    </p>
    <div th:if="${message}" class="alert alert-info">
        <p th:text="${message}"></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img th:src="@{'/i/' + ${book.image}}" alt="book-img" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <th scope="row">Name:</th>
                    <td th:text="${book.name}"></td>
                </tr>
                <tr>
                    <th scope="row">Author:</th>
                    <td th:text="${book.author}"></td>
                </tr>
                <tr>
                    <th scope="row">Price:</th>
                    <td th:text="${book.price}"></td>
                </tr>
                <tr>
                    <th scope="row">Type:</th>
                    <td th:text="${book.type.name}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
